body {
    margin: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    background-color: aqua;
}

.app-container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
.app-list-container {
    height: 100%;
    background-color: white;
}
.add-list-container {
    width: 100px;
    height: 100px;
    background-color: white;
    line-height: 100px;
    text-align: center;
    color: cornflowerblue;
    font-size: 100px;
    border-radius: 50px;
    margin-left: 5px;
    align-self: center;
}